# - represents done

Assignment 1 (Complex numbers)
#ERROR HANDLING
#REPRESENTATION OF COMPLEX NUMBERS
#DEFAULT VALUE
#INFO ABOUT PROGRAM AT BEGGINING
#PROPER COMMENTING


Assignment 2 (Student Database)
#FORMAT OF DATE OF BIRTH AND BLOODGROUP
#DATE NOT GREATER THAN CURRENT DATE
#PHONE NUMBER OF EXACTLY 10 DIGITS
#SEARCH USING ROLL NUMBER OR NAME
#COMMENTING

Assignment 3 